html
    head
        meta(http-equiv="X-UA-Compatible", content="ie=edge") 
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/home.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")
        title Home
    body
        div(clas="container")
            h1 congregação pq. belém
            ol
                li
                    a( href='http://localhost:3000/cards') Cartões de Publicadores
                li
                    a( href='http://localhost:3000/groups') Grupos - Lista de Publicadores
                li
                    a( href='http://localhost:3000/disasters') Desastres - Contatos dos irmãos
                li
                    a( href='http://localhost:3000/activities') Atividades dos Publicadores
                li(class='restrito')
                    a( href='http://localhost:3000/meetings') Incluir Assistência às Reuniões
                li(class='restrito')
                    a( href='http://localhost:3000/reports') Incluir Relatórios
                li(class='restrito')
                    a( href='http://localhost:3000/readAllPublishers') Cadastrar Publicadores
    